.courseMainDiv {
    font-family: 'Montserrat', sans-serif;
}

.courseDiv1 {
    /* background-color: blue; */
    padding: 4% 18%;
}

.courseDiv1 h4 {
    color: #00587a;
}

.indiCourse {
    background-color: #f2f5f9;
    border-radius: 15px;
    overflow: hidden;
    perspective: 1px;
    margin: 2% 0;
}

.photoSection {
    padding: 0;
    background-color: teal;
    text-align: center;
}

.photoSection img {
    padding: 4% 0;
    width: 40%;
}

.descriptionSection {
    margin-top: auto;
    margin-bottom: auto;
}

.descriptionSection h4 {
    color: #00587a;
}

.duration {
    font-weight: 700;
}

.duration span {
    color: #C3B1E1;
}